.also-read-container {
  border: 7px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.also-read-title {
  color: var(--white);
}

.also-read-link {
  color: var(--white);
}