<div class="table-of-contents-container table-of-contents-container-red">
  <div class="table-of-contents-title-container table-of-contents-title-container-red">
    <p class="table-of-contents-title">Table of contents</p>
  </div>
  <div class="table-of-contents-content-container">
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-1`}}">{{.Get `text-1`}}</a>
    </p>

    {{ if (.Get `id-2`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-2`}}">{{.Get `text-2`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-3`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-3`}}">{{.Get `text-3`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-4`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-4`}}">{{.Get `text-4`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-5`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-5`}}">{{.Get `text-5`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-6`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-6`}}">{{.Get `text-6`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-7`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right toc-icon-red"></i> <a href="#{{.Get `id-7`}}">{{.Get `text-7`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-8`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-8`}}">{{.Get `text-8`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-9`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-9`}}">{{.Get `text-9`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-10`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-10`}}">{{.Get `text-10`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-11`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-11`}}">{{.Get `text-11`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-12`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-12`}}">{{.Get `text-12`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-13`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-13`}}">{{.Get `text-13`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-14`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-14`}}">{{.Get `text-14`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-15`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-15`}}">{{.Get `text-15`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-16`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-16`}}">{{.Get `text-16`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-17`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-17`}}">{{.Get `text-17`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-18`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-18`}}">{{.Get `text-18`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-19`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-19`}}">{{.Get `text-19`}}</a>
    </p>
    {{ end }}

    {{ if (.Get `id-20`)}}
    <p class="toc-list-item toc-list-item-red">
      <i class="fa-solid fa-circle-right"></i> <a href="#{{.Get `id-20`}}">{{.Get `text-20`}}</a>
    </p>
    {{ end }}
  </div>
</div>